* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    border: none;
    outline: none;
}

body, button, label, select, input {
    font-size: 20px;
}

@media (max-width: 600px), (max-height: 600px) {
    body, button, label, select, input {
        font-size: 14px;
    }
}