body {
	background-color: #d5d5d5;
}

table {
	border-spacing: 1vw;
}

button {
	min-width: 13vw;
}

#header button, #toolbar button {
	margin: 1px;
}

button.button--normal-size {
	min-width: initial;
}

button.close-button {
	min-width: initial;
	position: absolute;
	top: 4px;
	right: 4px;
}

button a {
	display: inline-block;
	width: 100%;
}

br.wide+* {
	margin-top: 1vh;
}

br.narrow+* {
	margin-top: 0.5vh;
}

input[type=number] {
	width: 15vw;
}

#main-container {
	max-width: 100%;
}

#header {
	background-color: white;
	border-radius: 4px;
	margin: 0.5vw;
	padding: 1vw 1.5vw 1vw 1.5vw;
	overflow: hidden;
	box-shadow: 0.3vw 0.3vw 0.3vw #bbb;
}

#header__caption {
	position: relative;
	float: right;
	padding: 4px;
	color: #06b;
	font-weight: bold;
	padding-left: 2em;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#header__caption img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

#workarea-container {
	display: flex;
	flex-wrap: wrap;
}

#toolbar {
	flex-grow: 1;
	flex-basis: 9%;
	background-color: white;
	border-radius: 4px;
	margin: 0.5vw;
	padding-top: 0.5vw;
	padding-bottom: 1px;
	box-shadow: 0.3vw 0.3vw 0.3vw #bbb;
}

.toolbar-group {
	display: inline-block;
	margin: 0.5vw;
	padding: 0 1vw 0.5vw 1vw;
	border-bottom: 1px solid #ccd;
}

.toolbar-group__checkboxes {
	display: inline-block;
	letter-spacing: 1vw;
}

.checkbox-wrapper {
	display: inline-block;
	min-width: 10vw;
	margin: 4px 1px 4px 1px;
	letter-spacing: initial;
}

.toolbar-group__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 0 4px;
}

.toolbar-group__buttons button {
	flex-grow: 1;
}

.toolbar-group select {
	min-width: 13vw;
	max-width: 10em;
	margin: 1px;
	text-overflow: ellipsis;
}

.group-header {
	display: inline-block;
	min-width: 9vw;
	color: #06b;
}

.toolbar-group .group-header {
	padding: 8px 0 8px 0;
}

#editor-container {
	flex-grow: 7;
	overflow-x: hidden;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0.3vw 0.3vw 0.3vw #bbb;
	margin: 0.5vw;
}

#gamepad-container {
	text-align: center;
	overflow-x: auto;
	border-bottom: 1px solid #ccd;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}

#gamepad-container__scroll-frame {
	display: inline-block;
	padding: 1vw 0.5vw 1vw 0.5vw;
}

#screenpad {
	background-color: #999;
	position: relative;
	width: 800px;
	height: 450px;
	padding: 0;
}

.screenpad-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.hide-offscreen {
	overflow: hidden;
}

.show-offscreen {
	overflow: visible;
	margin: 100px;
}

.rect {
	position: absolute;
	background-size: 100% 100%;
	text-align: center;
	cursor: pointer;
	text-shadow: 1px 1px #aac;
}

.rect.selected {
	background-color: rgba(200, 0, 0, 0.3);
	box-shadow: 0 0 0 2px rgba(200, 0, 0, 0.15);
}

.show-borders .rect:after {
	content: '';
	border: 1px solid black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	background-color: rgba(1, 0, 0, 0.1);
}

.show-borders .rect.radial:after {
	border-radius: 50%;
}

.show-borders .rect div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	pointer-events: none;
	background-color: none;
}

.hide-names .rect {
	color: transparent;
	font-size: 1px;
	text-shadow: none;
}

#game-screenshot {
	position: absolute;
	background-color: #aac;
	width: 640px;
	height: 480px;
	top: 0;
	left: 107px;
	background-size: 100% 100%;
}

.hide-offscreen #game-screenshot {
	overflow: hidden;
}

.show-offscreen #game-screenshot {
	overflow: visible;
}

#editor {
	background-color: white;
	border-radius: 4px;
	padding: 1vw;
	white-space: nowrap;
	overflow: hidden;
}

#editor * {
	box-sizing: border-box;
}

#editor>div {
	padding-top: 2px;
	padding-bottom: 2px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

#editor span {
	width: 4%;
	text-align: center;
	overflow-x: hidden;
	padding-top: 0.6vw;
	padding-bottom: 0.6vw;
	margin: 0;
}

#editor input[type=range] {
	width: 70%;
}

#editor input[type=number] {
	width: 16%;
	margin-left: 1%;
	margin-right: 1%;
}

#editor button {
	min-width: 0;
	width: 7%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dialog-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-dialog {
	background-color: white;
	border-radius: 4px;
	max-height: 100%;
	min-width: 250px;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	box-shadow: 0.5vw 0.5vw 0.5vw #444;
}

.modal-dialog__header-box {
	position: relative;
	padding: 2vh 3vw 2vh 3vw;
	background-color: #f7f7fa;
	color: #06b;
	font-weight: bold;
	border-bottom: 2px solid #06b;
}

.modal-dialog__content-box {
	padding: 2vh 3vw 2vh 3vw;
}

.dialog-content-box__section:not(:last-child) {
	padding-bottom: 3vh;
}

.dialog-content-box__expandable {
	padding-top: 1vh;
}

.modal-dialog__content-box input[type=number] {
	min-width: 90px;
}

.modal-dialog__footer-box {
	padding: 1vh 3vw 1vh 3vw;
	overflow: hidden;
	border-top: 1px solid #ccd;
}

.modal-dialog__footer-box button {
	float: right;
	min-width: 30%;
	padding-left: 6px;
	padding-right: 6px;
	margin: 2px 2px 2px 6px;
}

.modal-dialog table {
	margin: -1vw;
}

#button-properties-table td {
	white-space: nowrap;
}

#button-properties-table input, #button-properties-table select {
	width: 85%;
	box-sizing: border-box;
}

#button-properties-table select.miniselect {
	width: 2em;
	overflow: hidden;
	min-width: 2em;
	color: transparent;
	background-position: center center;
	padding-right: 2em;
}

#button-properties-table textarea {
	width: 85%;
	box-sizing: border-box;
	margin-top: 6px;
}

#button-properties-table .vertical-align-top {
	vertical-align: top;
	padding-top: 6px;
}

#overlay-create-dialog textarea {
	box-sizing: border-box;
	width: 100%;
	height: 9em;
}

#download-help {
	display: inline-block;
	color: #777;
	font-size: 0.7em;
	padding-top: 3vh;
}

#image-name {
	padding-right: 1em;
	background-size: auto 150%;
	background-repeat: no-repeat;
	background-position: right center;
	box-shadow: inset 0 0 0 1px #f7f7fa;
}

#image-name:focus {
	box-shadow: inset 0 0 0 1px #f7f7fa, 0 0 0 2px rgba(180, 200, 220, 0.3);
}

#footer {
	position: relative;
	display: flex;
	justify-content: center;
	border-radius: 4px;
	background-color: white;
	margin: 0.5vw;
	box-shadow: 0.3vw 0.3vw 0.3vw #bbb;
}

#footer a {
	font-size: 0.9em;
	padding: 1vw;
}

#version {
	position: absolute;
	top: 1vw;
	right: 1vw;
	font-size: 0.9em;
	color: #bbb;
}

#aspect-hint {
	color: #bbb;
}

.small-warning {
	font-size: 0.7em;
	color: #f75;
}

.hidden {
	display: none;
}